In [2]:
import numpy as np
import pandas as pd

In [82]:
df = pd.read_excel('data.xlsx')

In [43]:
df.head()

,Unnamed: 0,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,horsepower,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total_sales
0,0,1,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046.0
1,1,2,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308.0
2,2,3,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,154,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740.0
10,10,11,bmw 320i,gas,std,two,sedan,rwd,front,101.2,...,101,5800,23,29,16430.0,106991.0,124537.0,118369.0,113209.0,463106.0
11,11,12,bmw 320i,gas,std,four,sedan,rwd,front,101.2,...,101,5800,23,29,16925.0,106991.0,124537.0,118369.0,113209.0,463106.0

In [74]:
df

,Unnamed: 0,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,...,horsepower,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total_sales
0,0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,...,111,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046.0
1,1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,...,111,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308.0
2,2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,...,154,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740.0
3,3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,...,102,5500,24,30,13950.0,0.0,0.0,0.0,0.0,0.0
4,4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,...,115,5500,18,22,17450.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,...,114,5400,23,28,16845.0,0.0,0.0,0.0,0.0,0.0
201,201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,...,160,5300,19,25,19045.0,0.0,0.0,0.0,0.0,0.0
202,202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,...,134,5500,18,23,21485.0,0.0,0.0,0.0,0.0,0.0
203,203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,...,106,4800,26,27,22470.0,0.0,0.0,0.0,0.0,0.0
204,204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,...,114,5400,19,25,22625.0,0.0,0.0,0.0,0.0,0.0

In [9]:
li = []
for i in range(205):
    li.append(df.iat[i, 26] + df.iat[i, 27] + df.iat[i, 28] + df.iat[i, 29])
df['total_sales'] = li

In [11]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,horsepower,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total_sales
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,154,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,102,5500,24,30,13950.0,0.0,0.0,0.0,0.0,0.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,115,5500,18,22,17450.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,114,5400,23,28,16845.0,0.0,0.0,0.0,0.0,0.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,160,5300,19,25,19045.0,0.0,0.0,0.0,0.0,0.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,134,5500,18,23,21485.0,0.0,0.0,0.0,0.0,0.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,106,4800,26,27,22470.0,0.0,0.0,0.0,0.0,0.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,114,5400,19,25,22625.0,0.0,0.0,0.0,0.0,0.0

In [100]:
df.to_excel('data.xlsx')

In [75]:
li = []
for i in range(df.shape[0]):
    # if (df.isnull().iat[i, 30] == True):
    #     df.at[i, 30] = 0
    if (df.iat[i, 30] == 0):
        li.append(i)
li.reverse()
print(len(li), *li)
for i in li:
    df.drop(i, inplace=True)
df

119 204 203 202 201 200 199 198 197 196 195 194 193 192 191 190 189 188 187 186 185 184 183 182 181 180 179 177 175 174 172 170 169 167 166 165 164 162 160 158 156 155 153 151 150 147 146 145 144 143 137 136 135 134 133 132 131 128 124 123 122 121 120 119 118 117 116 115 114 113 112 111 110 109 108 107 103 97 86 85 77 75 73 70 69 68 67 66 64 63 59 58 57 55 54 52 51 49 46 45 44 43 39 33 29 27 26 25 24 23 21 20 19 9 8 7 6 5 4 3

,Unnamed: 0,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,...,horsepower,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total_sales
0,0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,...,111,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046.0
1,1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,...,111,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308.0
2,2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,...,154,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740.0
10,10,11,2,bmw 320i,gas,std,two,sedan,rwd,front,...,101,5800,23,29,16430.0,106991.0,124537.0,118369.0,113209.0,463106.0
11,11,12,0,bmw 320i,gas,std,four,sedan,rwd,front,...,101,5800,23,29,16925.0,106991.0,124537.0,118369.0,113209.0,463106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,168,169,2,toyota corolla,gas,std,two,hardtop,rwd,front,...,116,4800,24,30,9639.0,15041.0,133597.0,137209.0,142720.0,428567.0
171,171,172,2,toyota corolla,gas,std,two,hatchback,rwd,front,...,116,4800,24,30,11549.0,15041.0,133597.0,137209.0,142720.0,428567.0
173,173,174,-1,toyota corolla,gas,std,four,sedan,fwd,front,...,92,4200,29,34,8948.0,15041.0,133597.0,137209.0,142720.0,428567.0
176,176,177,-1,toyota corolla,gas,std,four,sedan,fwd,front,...,92,4200,27,32,10898.0,15041.0,133597.0,137209.0,142720.0,428567.0
178,178,179,3,toyota corolla liftback,gas,std,two,hatchback,rwd,front,...,161,5200,20,24,16558.0,15041.0,133597.0,137209.0,142720.0,428567.0

In [76]:
df = df[df['total_sales'].notna()]
df

,Unnamed: 0,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,...,horsepower,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total_sales
0,0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,...,111,5000,21,27,13495.0,34300.0,18294.0,17200.0,18252.0,88046.0
1,1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,...,111,5000,21,27,16500.0,12043.0,9444.0,10282.0,10539.0,42308.0
2,2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,...,154,5000,19,26,16500.0,17075.0,10932.0,7436.0,6297.0,41740.0
10,10,11,2,bmw 320i,gas,std,two,sedan,rwd,front,...,101,5800,23,29,16430.0,106991.0,124537.0,118369.0,113209.0,463106.0
11,11,12,0,bmw 320i,gas,std,four,sedan,rwd,front,...,101,5800,23,29,16925.0,106991.0,124537.0,118369.0,113209.0,463106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,168,169,2,toyota corolla,gas,std,two,hardtop,rwd,front,...,116,4800,24,30,9639.0,15041.0,133597.0,137209.0,142720.0,428567.0
171,171,172,2,toyota corolla,gas,std,two,hatchback,rwd,front,...,116,4800,24,30,11549.0,15041.0,133597.0,137209.0,142720.0,428567.0
173,173,174,-1,toyota corolla,gas,std,four,sedan,fwd,front,...,92,4200,29,34,8948.0,15041.0,133597.0,137209.0,142720.0,428567.0
176,176,177,-1,toyota corolla,gas,std,four,sedan,fwd,front,...,92,4200,27,32,10898.0,15041.0,133597.0,137209.0,142720.0,428567.0
178,178,179,3,toyota corolla liftback,gas,std,two,hatchback,rwd,front,...,161,5200,20,24,16558.0,15041.0,133597.0,137209.0,142720.0,428567.0

In [12]:
df.describe()

,Unnamed: 0,car_ID,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,horsepower,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total_sales
count,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,...,86.000000,86.000000,86.000000,86.000000,86.000000,65.000000,65.000000,65.000000,65.000000,6.500000e+01
mean,82.709302,83.709302,97.061628,171.193023,65.526744,53.165116,2488.209302,131.337209,3.325233,3.268430,...,107.383721,5130.232558,25.290698,30.988372,13633.447674,55395.430769,71429.184615,60625.015385,64467.830769,2.519175e+05
std,50.229793,50.229793,5.450465,11.861691,2.127325,2.272639,547.354754,47.258391,0.270649,0.334942,...,45.366007,467.929046,7.135440,7.342854,9536.371488,90576.137274,83107.266247,66689.347631,76907.223492,3.010142e+05
min,0.000000,1.000000,86.600000,141.100000,60.300000,48.800000,1488.000000,61.000000,2.680000,2.360000,...,48.000000,4200.000000,14.000000,16.000000,5118.000000,125.000000,15.000000,7.000000,10.000000,4.210000e+02
25%,38.500000,39.500000,94.500000,165.300000,64.000000,51.600000,2033.500000,97.000000,3.150000,3.102500,...,70.000000,4800.000000,19.000000,25.250000,7311.500000,13848.000000,12365.000000,9942.000000,10539.000000,5.088300e+04
50%,82.500000,83.500000,96.300000,171.600000,65.200000,53.300000,2382.500000,110.000000,3.320000,3.290000,...,92.000000,5150.000000,25.000000,31.000000,9287.000000,24316.000000,44765.000000,26439.000000,22741.000000,1.332490e+05
75%,125.750000,126.750000,98.800000,176.200000,66.500000,54.500000,2762.750000,156.000000,3.587500,3.460000,...,137.500000,5500.000000,30.000000,35.500000,16500.000000,61376.000000,124537.000000,121651.000000,113209.000000,4.285670e+05
max,178.000000,179.000000,115.600000,202.600000,72.300000,59.800000,4066.000000,304.000000,3.940000,4.170000,...,288.000000,6000.000000,49.000000,54.000000,45400.000000,412110.000000,350447.000000,261255.000000,285602.000000,1.276094e+06

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      65 non-null     int64
 1   car_ID            65 non-null     int64
 2   CarName           65 non-null     object
 3   fueltype          65 non-null     object
 4   aspiration        65 non-null     object
 5   doornumber        65 non-null     object
 6   carbody           65 non-null     object
 7   drivewheel        65 non-null     object
 8   enginelocation    65 non-null     object
 9   wheelbase         65 non-null     float64
 10  carlength         65 non-null     float64
 11  carwidth          65 non-null     float64
 12  carheight         65 non-null     float64
 13  curbweight        65 non-null     int64
 14  enginetype        65 non-null     object
 15  cylindernumber    65 non-null     object
 16  enginesize        65 non-null     int64
 17  fuelsystem        65 non-null     object
 18  boreratio         65 non-null     float64
 19  stroke            65 non-null     float64
 20  compressionratio  65 non-null     float64
 21  horsepower        65 non-null     int64
 22  peakrpm           65 non-null     int64
 23  citympg           65 non-null     int64
 24  highwaympg        65 non-null     int64
 25  price             65 non-null     float64
 26  sales 2018        65 non-null     int64
 27  sales 2019        65 non-null     int64
 28  sales 2020        65 non-null     int64
 29  sales 2021        65 non-null     int64
 30  total_sales       65 non-null     int64
 31  2                 65 non-null     float64
 32  1                 65 non-null     float64
dtypes: float64(10), int64(13), object(10)
memory usage: 16.9+ KB

In [65]:
df.isnull().sum()

Unnamed: 0           0
car_ID               0
symboling            0
CarName              0
fueltype             0
aspiration           0
doornumber           0
carbody              0
drivewheel           0
enginelocation       0
wheelbase            0
carlength            0
carwidth             0
carheight            0
curbweight           0
enginetype           0
cylindernumber       0
enginesize           0
fuelsystem           0
boreratio            0
stroke               0
compressionratio     0
horsepower           0
peakrpm              0
citympg              0
highwaympg           0
price                0
sales 2018          21
sales 2019          21
sales 2020          21
sales 2021          21
total_sales         21
dtype: int64

In [94]:
df

,Unnamed: 0.1,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total_sales,2
0,0,1,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,13495.0,34300,18294,17200,18252,88046,1.0
1,1,2,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,16500.0,12043,9444,10282,10539,42308,2.0
2,2,3,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,5000,19,26,16500.0,17075,10932,7436,6297,41740,3.0
3,10,11,bmw 320i,gas,std,two,sedan,rwd,front,101.2,...,5800,23,29,16430.0,106991,124537,118369,113209,463106,4.0
4,11,12,bmw 320i,gas,std,four,sedan,rwd,front,101.2,...,5800,23,29,16925.0,106991,124537,118369,113209,463106,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,168,169,toyota corolla,gas,std,two,hardtop,rwd,front,98.4,...,4800,24,30,9639.0,15041,133597,137209,142720,428567,61.0
61,171,172,toyota corolla,gas,std,two,hatchback,rwd,front,98.4,...,4800,24,30,11549.0,15041,133597,137209,142720,428567,62.0
62,173,174,toyota corolla,gas,std,four,sedan,fwd,front,102.4,...,4200,29,34,8948.0,15041,133597,137209,142720,428567,63.0
63,176,177,toyota corolla,gas,std,four,sedan,fwd,front,102.4,...,4200,27,32,10898.0,15041,133597,137209,142720,428567,64.0
64,178,179,toyota corolla liftback,gas,std,two,hatchback,rwd,front,102.9,...,5200,20,24,16558.0,15041,133597,137209,142720,428567,65.0

In [90]:
df.drop("Unnamed: 0", axis = 1, inplace = True)

In [99]:
for i in range(65):
    df.at[i, 'car_ID'] = i + 1
df

,Unnamed: 0.1,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total_sales,2,1
0,0,1,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,21,27,13495.0,34300,18294,17200,18252,88046,1.0,1.0
1,1,2,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,21,27,16500.0,12043,9444,10282,10539,42308,2.0,2.0
2,2,3,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,19,26,16500.0,17075,10932,7436,6297,41740,3.0,3.0
3,10,4,bmw 320i,gas,std,two,sedan,rwd,front,101.2,...,23,29,16430.0,106991,124537,118369,113209,463106,4.0,4.0
4,11,5,bmw 320i,gas,std,four,sedan,rwd,front,101.2,...,23,29,16925.0,106991,124537,118369,113209,463106,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,168,61,toyota corolla,gas,std,two,hardtop,rwd,front,98.4,...,24,30,9639.0,15041,133597,137209,142720,428567,61.0,61.0
61,171,62,toyota corolla,gas,std,two,hatchback,rwd,front,98.4,...,24,30,11549.0,15041,133597,137209,142720,428567,62.0,62.0
62,173,63,toyota corolla,gas,std,four,sedan,fwd,front,102.4,...,29,34,8948.0,15041,133597,137209,142720,428567,63.0,63.0
63,176,64,toyota corolla,gas,std,four,sedan,fwd,front,102.4,...,27,32,10898.0,15041,133597,137209,142720,428567,64.0,64.0
64,178,65,toyota corolla liftback,gas,std,two,hatchback,rwd,front,102.9,...,20,24,16558.0,15041,133597,137209,142720,428567,65.0,65.0

In [93]:
df.drop("symboling", axis = 1, inplace = True)

In [98]:
df.iat[4, 1]

12

In [117]:
convertible = [0, 0, 0, 0]
hatbck = [0, 0, 0, 0]
sedan = [0, 0, 0, 0]
wagon = [0, 0, 0, 0]
hrdtop = [0, 0, 0, 0]
cnt = 0
for i in range(65):
    if (df.at[i, 'carbody'] == 'convertible'):
        convertible[0] += df.at[i, 'sales 2018']
    elif (df.at[i, 'carbody'] == 'hatchback'):
        hatbck[0] += df.at[i, 'sales 2018']
    elif (df.at[i, 'carbody'] == 'sedan'):
        sedan[0] += df.at[i, 'sales 2018']
    elif (df.at[i, 'carbody'] == 'wagon'):
        wagon[0] += df.at[i, 'sales 2018']
    else:
        hrdtop[0] += df.at[i, 'sales 2018']
for i in range(65):
    if (df.at[i, 'carbody'] == 'convertible'):
        convertible[1] += df.at[i, 'sales 2019']
    elif (df.at[i, 'carbody'] == 'hatchback'):
        hatbck[1] += df.at[i, 'sales 2019']
    elif (df.at[i, 'carbody'] == 'sedan'):
        sedan[1] += df.at[i, 'sales 2019']
    elif (df.at[i, 'carbody'] == 'wagon'):
        wagon[1] += df.at[i, 'sales 2019']
    else:
        hrdtop[1] += df.at[i, 'sales 2019']
for i in range(65):
    if (df.at[i, 'carbody'] == 'convertible'):
        convertible[2] += df.at[i, 'sales 2020']
    elif (df.at[i, 'carbody'] == 'hatchback'):
        hatbck[2] += df.at[i, 'sales 2020']
    elif (df.at[i, 'carbody'] == 'sedan'):
        sedan[2] += df.at[i, 'sales 2020']
    elif (df.at[i, 'carbody'] == 'wagon'):
        wagon[2] += df.at[i, 'sales 2020']
    else:
        hrdtop[2] += df.at[i, 'sales 2020']
for i in range(65):
    if (df.at[i, 'carbody'] == 'convertible'):
        convertible[3] += df.at[i, 'sales 2020']
    elif (df.at[i, 'carbody'] == 'hatchback'):
        hatbck[3] += df.at[i, 'sales 2020']
    elif (df.at[i, 'carbody'] == 'sedan'):
        sedan[3] += df.at[i, 'sales 2020']
    elif (df.at[i, 'carbody'] == 'wagon'):
        wagon[3] += df.at[i, 'sales 2020']
    else:
        hrdtop[3] += df.at[i, 'sales 2020']

print(*[convertible[i] / 2 for i in range(4)])
print(*[hatbck[i] / 28 for i in range(4)])
print(*[sedan[i] / 26 for i in range(4)])
print(*[wagon[i] / 5 for i in range(4)])
print(*[hrdtop[i] / 4 for i in range(4)])

23171.5 13869.0 13741.0 13741.0
53272.107142857145 76735.32142857143 66449.42857142857 66449.42857142857
60946.846153846156 73943.30769230769 61045.730769230766 61045.730769230766
67880.4 51664.4 34329.4 34329.4
34680.25 71430.5 73431.0 73431.0

In [113]:
df.iloc[:, 6]

0     convertible
1     convertible
2       hatchback
3           sedan
4           sedan
         ...
60        hardtop
61      hatchback
62          sedan
63          sedan
64      hatchback
Name: carbody, Length: 65, dtype: object

In [115]:
s = {}
for i in range(65):
    if df.iat[i, 6] not in s:
        s[df.iat[i, 6]] = 1
    else:
        s[df.iat[i, 6]] += 1
s

{'convertible': 2, 'hatchback': 28, 'sedan': 26, 'wagon': 5, 'hardtop': 4}

In [8]:
df = pd.read_excel('data_after_cleaning.xlsx')
dohcv = [0] * 4
ohcv = [0] * 4
ohc = [0] * 4
ohcf = [0] * 4
l = [0] * 4
rotor = [0] * 4
dohc = [0] * 4
cnt = [0] * 7
for j in range(0, 4):
    for i in range(65):
        if (df.at[i, 'enginetype'] == 'dohcv'):
            dohcv[j] += df.at[i, 'sales ' + str(2018 + j)]
            cnt[0] += 1
        elif (df.at[i, 'enginetype'] == 'ohcv'):
            ohcv[j] += df.at[i, 'sales ' + str(2018 + j)]
            cnt[1] += 1
        elif (df.at[i, 'enginetype'] == 'ohc'):
            ohc[j] += df.at[i, 'sales ' + str(2018 + j)]
            cnt[2] += 1
        elif (df.at[i, 'enginetype'] == 'l'):
            l[j] += df.at[i, 'sales ' + str(2018 + j)]
            cnt[3] += 1
        elif (df.at[i, 'enginetype'] == 'rotor'):
            rotor[j] += df.at[i, 'sales ' + str(2018 + j)]
            cnt[4] += 1
        elif (df.at[i, 'enginetype'] == 'ohcf'):
            ohcf[j] += df.at[i, 'sales ' + str(2018 + j)]
            cnt[5] += 1
        else:
            dohc[j] += df.at[i, 'sales ' + str(2018 + j)]
            cnt[6] += 1

l = [dohcv, ohcv, ohc, l, rotor, ohcf, dohc]
for i in range(0, 7):
    if(cnt[i]):
        print(*[l[i][j]/cnt[i] for j in range(4)])
    else: 
        print("NULL")

3462.0 5025.5 4582.5 4077.5
15841.1875 18203.8125 20096.8125 21742.5625
17602.78888888889 22632.055555555555 18776.777777777777 20091.18888888889
14139.0 11244.5 2485.5 187.5
NULL
1196.3055555555557 1363.8055555555557 1242.4444444444443 1009.0277777777778
3263.55 8184.45 8312.85 8636.45

## Feature Engineering

In [2]:
mil_low = [0, 20, 30]
mil_high = [30, 40, 60]
mil_med = [20, 30, 40]

hp_low = [40, 80, 140]
hp_high = [140, 200, 300]
hp_med = [80, 140, 200]

price_low = [4000, 12000, 25000]
price_high = [25000, 35000, 50000]
price_med = [15000, 25000, 35000]

def get_low(low, val):
    # low is a 3 tuple, val is the value to be classified
    if val > low[2]:
        return 0
    elif val < low[1]:
        return 1
    else:
        return (low[2] - val)/(low[2] - low[1])
def get_high(high, val):
    if(val < high[0]):
        return 0
    elif val > high[1]:
        return 1
    else:
        return (val - high[0])/(high[1] - high[0])
    
def get_med(med, val):
    if(val < med[0] or val > med[2]):
        return 0
    if(val < med[1]):
        return (val - med[0])/(med[1] - med[0])
    else:
        return (med[2] - val)/(med[2] - med[1])
    
def membership(row):
    # row is a 3 tuple {mileage, hp, price}
    
    M = [0] * 9 # {mil 3 tuple}, {hp 3 tuple}, {price 3 tuple}
    
    for i in range(0, 3):
        M[0] = get_low(mil_low, row[0])
        M[1] = get_med(mil_med, row[0])
        M[2] = get_high(mil_high, row[0])
    
    for i in range(0, 3):
        M[3] = get_low(hp_low, row[1])
        M[4] = get_med(hp_med, row[1])
        M[5] = get_high(hp_high, row[1])
    
    for i in range(0, 3):
        M[6] = get_low(price_low, row[2])
        M[7] = get_med(price_med, row[2])
        M[8] = get_high(price_high, row[2])
    
    return M

print(*(membership([27, 100, 16000])))

0.3 0.7 0 0.6666666666666666 0.3333333333333333 0 0.6923076923076923 0.1 0

## Customer Segment

In [3]:
import pandas as pd
df = pd.read_excel("./Datasets/data_after_cleaning.xlsx")

df.head()

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total sales,Unnamed: 30,Unnamed: 31
0,1,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,21,27,13495.0,34300,18294,17200,18252,88046,NaN,NaN
1,2,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,21,27,16500.0,12043,9444,10282,10539,42308,NaN,NaN
2,3,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,19,26,16500.0,17075,10932,7436,6297,41740,NaN,NaN
3,4,bmw 320i,gas,std,two,sedan,rwd,front,101.2,176.8,...,23,29,16430.0,106991,124537,118369,113209,463106,NaN,NaN
4,5,bmw 320i,gas,std,four,sedan,rwd,front,101.2,176.8,...,23,29,16925.0,106991,124537,118369,113209,463106,NaN,NaN

In [8]:
for i in range(0, 65):
    df.at[i, 'Customer Segment'] = "No Segment"
df

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total sales,Customer Segment
0,1,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,5000,21,27,13495.0,34300,18294,17200,18252,88046,No Segment
1,2,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,5000,21,27,16500.0,12043,9444,10282,10539,42308,No Segment
2,3,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,5000,19,26,16500.0,17075,10932,7436,6297,41740,No Segment
3,4,bmw 320i,gas,std,two,sedan,rwd,front,101.2,176.8,...,5800,23,29,16430.0,106991,124537,118369,113209,463106,No Segment
4,5,bmw 320i,gas,std,four,sedan,rwd,front,101.2,176.8,...,5800,23,29,16925.0,106991,124537,118369,113209,463106,No Segment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,61,toyota corolla,gas,std,two,hardtop,rwd,front,98.4,176.2,...,4800,24,30,9639.0,15041,133597,137209,142720,428567,No Segment
61,62,toyota corolla,gas,std,two,hatchback,rwd,front,98.4,176.2,...,4800,24,30,11549.0,15041,133597,137209,142720,428567,No Segment
62,63,toyota corolla,gas,std,four,sedan,fwd,front,102.4,175.6,...,4200,29,34,8948.0,15041,133597,137209,142720,428567,No Segment
63,64,toyota corolla,gas,std,four,sedan,fwd,front,102.4,175.6,...,4200,27,32,10898.0,15041,133597,137209,142720,428567,No Segment
64,65,toyota corolla liftback,gas,std,two,hatchback,rwd,front,102.9,183.5,...,5200,20,24,16558.0,15041,133597,137209,142720,428567,No Segment

In [6]:
df.drop('Unnamed: 30', axis=1, inplace=True)

In [7]:
df.drop('Unnamed: 31', axis=1, inplace=True)
df

,car_ID,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,peakrpm,citympg,highwaympg,price,sales 2018,sales 2019,sales 2020,sales 2021,total sales,Customer Segment
0,1,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,5000,21,27,13495.0,34300,18294,17200,18252,88046,Highclass Youngsters
1,2,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,5000,21,27,16500.0,12043,9444,10282,10539,42308,Highclass Youngsters
2,3,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,5000,19,26,16500.0,17075,10932,7436,6297,41740,NaN
3,4,bmw 320i,gas,std,two,sedan,rwd,front,101.2,176.8,...,5800,23,29,16430.0,106991,124537,118369,113209,463106,Upper Middle Class
4,5,bmw 320i,gas,std,four,sedan,rwd,front,101.2,176.8,...,5800,23,29,16925.0,106991,124537,118369,113209,463106,Upper Middle Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,61,toyota corolla,gas,std,two,hardtop,rwd,front,98.4,176.2,...,4800,24,30,9639.0,15041,133597,137209,142720,428567,NaN
61,62,toyota corolla,gas,std,two,hatchback,rwd,front,98.4,176.2,...,4800,24,30,11549.0,15041,133597,137209,142720,428567,NaN
62,63,toyota corolla,gas,std,four,sedan,fwd,front,102.4,175.6,...,4200,29,34,8948.0,15041,133597,137209,142720,428567,NaN
63,64,toyota corolla,gas,std,four,sedan,fwd,front,102.4,175.6,...,4200,27,32,10898.0,15041,133597,137209,142720,428567,NaN
64,65,toyota corolla liftback,gas,std,two,hatchback,rwd,front,102.9,183.5,...,5200,20,24,16558.0,15041,133597,137209,142720,428567,NaN

In [14]:
cnt = 0
for i in range(0, 65):
    Membership = membership([(df.iat[i, 22] + df.iat[i, 23])/2, df.iat[i, 20], df.iat[i, 24]])
    
    if df.iat[i, 5] == 'hatchback' or df.iat[i, 5] == 'sedan':
        # high mileage > 0.3, low price > 0.4
        if(Membership[2] > 0.3 and Membership[6] > 0.4):
            df.at[i, 'Customer Segment'] = 'Middle Class'
            
    if df.iat[i, 5] == 'sedan' or df.iat[i, 5] == 'hardtop':
        # med mileage > 0.2 or high mileage > 0.1, med hp > 0.2
        if((Membership[1] > 0.2 or Membership[2] > 0.1) and Membership[4] > 0.2):
            df.at[i, 'Customer Segment'] = 'Upper Middle Class'
    
    if df.iat[i, 5] == 'convertible' or df.iat[i, 5] == 'sedan':
        # high hp > 0.2
        if(Membership[5] > 0 or Membership[4] > 0.3):
            df.at[i, 'Customer Segment'] = 'Highclass Youngsters'
            
    if df.iat[i, 5] == 'wagon' or df.iat[i, 5] == 'sedan':
        # med mileage > 0.2, med hp > 0.5 or high hp > 0.1
        if(Membership[1] > 0.2 and (Membership[4] > 0.5 or Membership[5] > 0.1)):
            df.at[i, 'Customer Segment'] = 'Highclass Families'

            
df.to_excel('data_set_after_feature_engineering.xlsx')